/* Declaração de variáveis */
$light-green: rgba(126, 213, 111, 0.8);
$medium-green: rgba(85, 197, 122, 1);
$dark-green: rgba(40, 180, 133, 0.8);
$white: rgb(255, 255, 255);
$gray: rgb(119, 119, 119);
$black: rgb(0, 0, 0);
