// Básicos, como resets, styles, body, etc.
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Define o que 1 rem é
  font-size: 62.5%; /* Porcentagem do valor inicial ou de qualquer valor inserido pelo usuário */
}

/* Informações colocadas no body para poderem ser herdadas */
body {
  color: $gray;
}
