body {
  padding: 3rem;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

/* h1 é o heading mais importante para SEO */
.heading-primary {
  margin-bottom: 6rem;
  text-transform: uppercase;
  color: $white;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 0.3s ease-out; /* Ativação da animação criada*/
    backface-visibility: hidden; /* Corrige falha de ajuste da animação*/
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 0.3s ease-out; /* Ativação da animação criada*/
    backface-visibility: hidden; /* Corrige falha de ajuste da animação*/
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $light-green,
    $dark-green
  ); // Seta a cor gradiente no fundo
  -webkit-background-clip: text; // Seta a cor para ser recortada no formato do texto
  background-clip: text;
  color: transparent; // Torna o texto transparente para o gradiente poder aparecer

  letter-spacing: 0.2rem;

  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
  }
}
