.section-about {
  background-color: $white-gray;
  padding: 25rem 0;
  margin-top: -25vh;
}

.section-features {
  padding: 20rem 0;
  background: linear-gradient(to right bottom, $light-green, $dark-green),
    url("../img/nat-4.jpg");
  background-size: cover; /* Tamanho se adapta à tela */
  background-position: top;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /* Posições X e Y de cada vértice do polígono, contando do superior da esquerda em sentido horário */
}
